
<h3>Most Popular</h3>
<div >
    <img src="../../assets/images/mask.svg" class= "mask greyscale"alt="Image Description">
    <div class="lastcard">
        <div class=" subcard sub">
          <div class="card card-block border-0" style="width: 300px;">
            <img class="card-img-top greyscale" src="../../assets/images/CR1.svg" alt="Card Image" style="height: 100%; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">Cooking should be easy and enjoyable.</h5>
              <a class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
        <div class="subcard">
          <div class="card card-block border-0" style="width: 300px;">
            <img class="card-img-top greyscale" src="../../assets/images/CR2.svg" alt="Card Image" style="height: 100%; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">7 emotional mistakes even intelligent people make</h5>
              <a  class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
        <div class=" subcard">
          <div class="card card-block border-0" style="width: 300px;">
            <img class="card-img-top greyscale" src="../../assets/images/CR3.svg" alt="Card Image" style="height: 100%; width: 100%; object-fit: cover;">
            <div class="card-block">
              <h5 class="card-text" style="margin-bottom: 15px;">Colour Psychology: How colors impact human behavior</h5>
              <a  class="btn btn-primary btn-light">Read more -></a>
            </div>
          </div>
        </div>
      </div>
</div>
      