.container {
  display: flex;
  grid-template-columns: auto 30%;
}

.column1 {
  margin-right: 30px;
  padding-top: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  width: 900px;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card-image {
  width: 120px;
}

.card img {
  width: 80%;
  height: 100%;
  border-radius: 2%;
  mix-blend-mode: luminosity;
  padding-top: 15%;
}

.content {
  grid-column: 2/3;
  padding-top: 15px;
}

.card-text {
  color: grey;
  font-size: 16px;
}

.card-button {
  grid-column: 3/3;
  margin-left: 15px;
  padding-top: 15px;
}

.tool li {
  list-style: none;
  float: left;
}

.tool li a:hover {
  color: black;
}

.div1 {
  padding-top: 20px;
  margin-right: 50px;
}

.learn {
  padding-left: 20px;
}

.list {
  padding-left: 35px;
  color: gray;
}

.para {
  padding-left: 20px;
  color: gray;
}

.para-button {
  padding-left: 2%;
}

@media (max-width: 768px) {
.container {
  flex-direction: column; 
}

.column1 {
  margin-right: 0;
  padding: 10px; 
}

.card {
  width: 100%; 
}

.grid-container {
  width: 100%; 
}

.card-button {
  margin-left: 0;
  padding-top: 15px;
}
}