<div class="div1" *ngFor="let detail of details">
  <hr>
  <p class="learn"><strong>What will You Learn</strong></p>
  <ul class="list">
    <li>{{detail.aboutAns1}}</li>
    <li>{{detail.aboutAns2}}</li>
    <li>{{detail.aboutAns3}}</li>
    <li>{{detail.aboutAns4}}</li>
  </ul>
  <p class="learn"><strong>About this Professional Certificate</strong></p>
  <p class="para">{{detail.aboutAns5}}</p>
  <p class="para">{{detail.aboutAns6}}</p>
  <p class="para">{{detail.aboutAns7}}</p>
  <p class="para">{{detail.aboutAns8}}</p>
  <p class="learn"><strong>Applied Learning Project</strong></p>
  <p class="para">{{detail.aboutAns9}}</p>
  <p class="para">{{detail.aboutAns10}}</p>
  <p class="para">{{detail.aboutAns11}}</p>

</div>
<div class="para-button"><button type="button"
      style="background-color: #2B2B2B; color: white;  height: 25x; width: 120px;">Send Request</button>
</div>