 <div class="pl-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <ol class="pl-0">
        <li class="li-one">
          <div class="accordion-item">
            <h6 class="accordion-header">
              <button class="accordion-button collapsed  fw-medium p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                <i class="bi bi-1-circle"></i>Setting the Scene<br>    
              </button>
            </h6>
            <p class="p text-muted pl-0 fs-6">12m 4s</p>
            <div id="flush-collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
        </li>
        <li class="li-two">
          <div class="accordion-item">
            <h6 class="accordion-header">
              <button class="accordion-button collapsed  fw-medium p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="bi bi-2-circle"></i>Going Where the action is:<br>
                Understanding User in Context
              </button>
            </h6>
            <p class="p text-muted pl-3">12m 4s</p>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
          </div>
        </li>
        <li class="li-three">
          <div class="accordion-item">
            <h6 class="accordion-header">
              <button class="accordion-button collapsed  fw-medium p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-3-circle"></i>How to get niche quick
              </button>
            </h6>
            <p class="p text-muted pl-3">12m 4s</p>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="row accordion-body pb-2">
                <div class="col-1 m-0"><i class="bi bi-circle "></i></div>
                <div class="col-8 m-0 fs-6">Introduction to the Design Activities</div>
                <div class="col-3 text-muted">8m14s</div>
              </div>
              <div class="row accordion-body pb-2">
                <div class="col-1 m-0"><i class="bi bi-circle "></i></div>
                <div class="col-8 m-0 fs-6">UserResearch</div>
                <div class="col-3 text-muted">8m14s</div>
              </div>
              <div class="row accordion-body pb-2">
                <div class="col-1 m-0"><i class="bi bi-circle "></i></div>
                <div class="col-8 m-0 fs-6">Citizen Journalist</div>
                <div class="col text-muted">8m14s</div>
              </div>
              <div class="row accordion-body pb-2">
                <div class="col-1 m-0"><i class="bi bi-circle "></i></div>
                <div class="col-8 m-0 fs-6">Digital Postcard</div>
                <div class="col text-muted">8m14s</div>
              </div>
              <div class="row accordion-body pb-2">
                <div class="col-1 m-0"><i class="bi bi-circle "></i></div>
                <div class="col-8 m-0 fs-6">Gift Giver</div>
                <div class="col text-muted">8m14s</div>
              </div>
            </div>
          </div>
        </li>
        <li class="li-four">
          <div class="accordion-item">
            <h6 class="accordion-header">
              <button class="accordion-button collapsed  fw-medium p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-4-circle"></i>Ux Design Activities- Build your Ux<br> Portfolio
              </button>
            </h6>
            <p class="p text-muted pl-3">12m 4s</p>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </li>
        <li class="li-five">
          <div class="accordion-item">
            <h6 class="accordion-header">
              <button class="accordion-button collapsed  fw-medium p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-5-circle"></i>What can a london bus teach us<br> about usability
              </button>
            </h6>
            <p class="p text-muted pl-3">12m 4s</p>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </li>
      </ol>
      </div>
</div>
