<div class="container" id="popup">
    <div class="row">
        <div class="col">
            <h4 class="col" style="float:left;padding: top 100px;">Notes</h4>
        </div>
        <div class="col">
            <button type="button" class="close " style="border:none;font-size: 40px;background-color: white;float:right;padding: top 0%;color:grey;font-weight: lighter;">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>use of usability</h5>
        </div>
        <div class="col">
            <i class="bi bi-pencil" style="float:right"></i>
        </div>
    </div>
    <div >
        <div >
            <p class="text-muted" style="font-size: 15px;text-align: left;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit ad <i class="bi bi-trash3 " style="float:right"></i> quibusdam, velit assumenda molestiae eos facilis incidunt doloribus itaque non architecto repellat quisquam alias, doloremque placeat animi. Incidunt, modi rerum.</p>
        </div>
    </div>
    <div>
        <h5>Lorem Ipsum</h5>
        <p class="text-muted" style="font-size: 15px;text-align: left;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, libero adipisci quidem eaque in provident, molestias voluptatem corporis cum unde nesciunt molestiae natus expedita consequatur fuga, minus dolorum pariatur rem?</p>
        <p class="text-muted" style="font-size: 15px;text-align: left;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis mollitia nostrum, ex unde excepturi distinctio cupiditate, quo nulla necessitatibus nemo eligendi temporibus animi sapiente? Laudantium illo voluptates dolorum commodi quasi.</p>
    </div>
    <div class="container">
        <textarea rows="5" cols="60" placeholder="Add a note"></textarea>
    </div>
    <div>
        <button class="btn btn-bg-dark border-dark" style="width:100%;text-align:none;font-size:15px;background-color: black;color:white" >Save Notes</button>
    </div>
</div>