
<div id="back">
  <div id="intro-example" class="text-center bg-image  ">
    <div class="mask" id="op">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white" style="text-align: right;">
          <h1 class="mb-4" align="center">Publish your passions, your way</h1>
          <h5 class="mb-4">auctor augue mauris augue neque gravida. Euismod quis viverra nibh cras pulvinar mattis nunc sed</h5>
          <div align="center">
          <a class="btn btn-outline-light btn-lg m-2" role="button" rel="nofollow">Create blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div1">
  <ul id="train">
    <li>Your Title</li>
    <li><button class = "spBtn">All</button></li>
    <li ><button class = "spBtn">Following</button></li>
    <li ><button class = "spBtn">Design</button></li>
    <li ><button class = "spBtn">Health</button></li>
    <li><button class = "spBtn">Illustration</button></li>
    <li><button class = "spBtn">Website</button></li>
    <li><button class = "spBtn">+</button></li>
  </ul>
</div>

<br>