<div class="container ">
    <div class="accordion accordion-flush " id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed border border rounded bg-subtle-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="row w-100">
                        <div class="col-6 text-left-end"><h5>Understand the basics</h5></div>
                        <div class="col-5 text-end">6 lectures 1h</div>
                      </div>
                </button>
            </h2>
            </div>
        <div class="accordion-item  border-radius">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed border border rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <div class="row w-100">
                    <div class="col-6 text-left-end"><h5>Planning & Preparation</h5></div>
                    <div class="col-5 text-end">15 lectures 2h</div>
                  </div>
            </button>
          </h2>
        </div>
        <div class="accordion-item  border-radius">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed border border rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                <div class="row w-100">
                    <div class="col-6 text-left-end"><h5>Understand the basics</h5></div>
                    <div class="col-5 text-end">4 lectures 12m</div>
                  </div>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" >
                <div id="d1" >
                    <h5 class="h5">On the day of Testing</h5>
                    <p class="p1">01:33</p>
                </div>
            </div>
            <div class="accordion-body">
                <div id="d1" >
                    <h5 class="h5">Conducting the test session</h5>
                    <p class="p1">02:39</p>
                </div>
            </div>
            <div class="accordion-body">
                <div id="d1" >
                    <h5 class="h5">Analyze data</h5>
                    <p class="p1">01:49</p>
                </div>
            </div>
            <div class="accordion-body">
                <div id="d1" >
                    <h5 class="h5">Reporting results</h5>
                    <p class="p1">05:57</p>
                </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      

