<p>No matter how much effort do we put in UX Research, we still make many assumptions during the ideation & prototyping. To minimize buisness risk, it is crucial  to validate our designs. Usability testing is the most effective method for uncovering usability issues in apps or websites. </p><br>
    <p>I have mastered usability testing by practicing it for over a decade now.I have packaged all of that for you learn in a course just under 2 hours.</p><br>
    <h5>Who this course is for:</h5>
    <ul>
        <li>Designers who want hands on techniques for evaluating thier designs with end users of mobile apps or websites(including UI/UX Designers, UX researchers, Graphics & Visual Designers)</li>
        <li>Product Managers(PMs) and founders who want to choose the right usability test for the current product lifecycle stage, and validate the designs before development.
        </li>
        <li>Product Marketing Managers who want to understand user behaviour for reducing drop rates or churn, increase conversion & retention rates and drive optimal product positioning</li>
    </ul>
    
