<ul class="nav">
    <li class="nav-item">
      <a routerLink='continue2/' class="nav-link text-secondary" id="a2"  style="font-size: 20px;">Reviews</a>
    </li>
    <li class="nav-item">
      <a routerLink='discussions' class="nav-link text-secondary" id="a3"  style="font-size: 20px;">Discussion</a>
    </li>
    <li class="nav-item">
      <a routerLink='resources' class="nav-link text-secondary" id="a4"  style="font-size: 20px;">Resources</a>
    </li>
  </ul>
  <hr class="hr hr-blurry" style="padding-top:0px" />
  <router-outlet name="contentOutlet"></router-outlet>
  
