
<div class="grid-container">
    
  <div >
      <h3>Who to follow</h3>
      <br>
    <div>
      <app-author-follow></app-author-follow>
    </div>
  </div>
</div>
<br>
<p>See more suggestions</p>
<h3>Recently Saved</h3>

<div class="card card-flex" style="border: none; margin-right: 20px;">
<img src="../../assets/images/BP.svg"  class="card-img greyscale" alt="Image 1" style="width: 100px; height: 100px">
<div class="card-body card-body-flex">
  <h5 class="card-title" style="margin-top: 15px;">What is the difference between the Product Manager and Project Manager?</h5>
  <p class="card-text">July 6,2022  .15 min read</p>
</div>
</div>
<p>See all(3)</p>
