<h6>35 members</h6>
    <hr class="hr hr-blurry"/>
    <img src="./assets/images/dp.jpg" class="img" style="float:left;">
        <div class="row">
            <div style="float:right">
                <p style="padding-top:10px">Rizal Gradian<span><i class="bi bi-dot"></i>02:01 PM</span></p>
                <h6>Hii Everybody</h6>
                <p style="text-align:left;width:50%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error doloremque dignissimos placeat, maiores doloribus architecto tenetur in quis impedit veniam? Dolore consectetur maxime facilis modi earum eligendi praesentium incidunt laudantium?</p>
            </div>
        </div>
        <hr class="hr hr-blurry"/>
        <img src="./assets/images/dp.jpg" class="img" style="float:left;">
        <div class="row">
            <div style="float:right">
                <p style="padding-top:10px">Sergia Aquinna<span><i class="bi bi-dot"></i>01:54 PM</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error doloremque dignissimos placeat, </p>
                <img src="./assets/images/practice.jpg" >
            </div>
        </div>
        <hr class="hr hr-blurry"/>
        <img src="./assets/images/dp.jpg" class="img" style="float:left;">
        <div class="row">
            <div style="float:right">
                <p style="padding-top:10px">Sergia Aquinna<span><i class="bi bi-dot"></i>01:54 PM</span></p>
            </div>
            <div style="border:1px solid lightgrey;width:80%">
                <div>
                    <textarea cols="90" placeholder="Hey all.I have lorem ipsum simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an" style="border:none"></textarea>
                </div><br>
                <div>
                    <div style="float:left">
                        <i class="bi bi-type-bold"></i><span><i class="bi bi-type-underline"></i><i class="bi bi-type-italic"></i></span>
                    </div>
                    <div style="float:right">
                        <i class="bi bi-image-fill"></i><span><i class="bi bi-mic"></i><a href="#" class="btn btn-dark" style="float:right;height:20px;font-size: 10px;text-align: center;">Send</a></span>
                    </div>
                </div>
            </div>
            
        </div>
