<h5>References & Where to Learn More</h5>
    Herbert Simon, The Sciences of the Artificial(3rd Edition), 1996:<br>
    https://monoskop.org/images/9/9c/Simon_Herbert_A_The_Sciences_of_the_Artificial_3rd_ed.pdf<br><br>
    d.school, An Introduction to Design Thinking PROCESS GUIDE, 2010:<br>
    https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/Introduction-to-design-thinking.pdf<br><br>
    Gerd Waloszek, Introduction to Design Thinking, 2012:<br>
    https://experience./sap.com/skillup/introduction-to-design-thinking/<br><br>
    <h4>Images</h4>
    <p>Hero Image:&copy; Daniel Strok and the Interaction Design Foundation, CC BY-NC-SA3.0</p>
