<div class="background-container">
    <div class="welcome">
        <h1 style="color: white">Welcome <b>Kaninians</b></h1>
      </div>
      
      <div class="carousel">
        <div class="carousel-item" [ngClass]="{ 'active': isActive(0) }" [style.background-image]="'url(assets/images/corousel-01.jpg)'"></div>
        <div class="carousel-item" [ngClass]="{ 'active': isActive(1) }" [style.background-image]="'url(assets/images/corousel-02.jpg)'"></div>
        <div class="carousel-item" [ngClass]="{ 'active': isActive(2) }" [style.background-image]="'url(assets/images/corousel-03.jpg)'"></div>
      </div>
      
      <div class="kanini">
        <div class="kanini-item">
          <h1 style="color: white">{{ getCurrentText().title }}</h1>
          <p style="color: white">{{ getCurrentText().description }}</p>
        </div>
        <br>
        <div class="carousel-indicators">
          <span class="indicator" *ngFor="let slide of carouselTexts; let i = index" [ngClass]="{ 'active': isActive(i), 'dashed': isActive(i) }" (click)="goToSlide(i)"></span>
        </div>
      </div>
      
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 offset-lg-8 offset-md-6"> 
          <div class="panel border bg-white">
            <div class="panel-heading">
                <img src="{{ imagelogo + 'kanini-logo.jpg' }}" alt="logo" style="width: 40px; float: left" />
             <br><br> <h3 class="pt-3 font-weight-bold">Sign In</h3>
             <br> Welcome Back! Please enter Email id and Password
            </div>
           
            <div class="panel-body p-3">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="username" type="text" placeholder="Username" required>
                  </div>
                </div>
                <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required*</small>
                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                    <span class="fa fa-lock px-2"></span>
                    <input formControlName="password" [type]="type" placeholder="Password">
                    <button type="button" (click)="hideShowPass()" class="bg-white text-muted">
                      <span class="fa {{eyeIcon}}"></span>
                    </button>
                  </div>
                </div>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required*</small>
                <div class="form-inline fr mt-4">
                  <a id="forgot" (click)="toggleForgotPasswordModal()" class="font-weight-bold">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                <div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="#" routerLink="/signup">Sign up</a></div>
              </form>
            </div>
            <div class="mx-3 my-2 py-2 bordert">
              <div class="text-center py-3">
                <a href="https://wwww.facebook.com" target="_blank" class="px-2">
                  <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="">
                </a>
                <a href="https://www.google.com" target="_blank" class="px-2">
                  <img src="https://images.squarespace-cdn.com/content/v1/58a48c47bf629a5b4986653e/1501327004250-U0NURMV11KYD39HFMI38/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwkCFOLgzJj4yIx-vIIEbyWWRd0QUGL6lY_wBICnBy59Ye9GKQq6_hlXZJyaybXpCc/Google_Logo.png" alt="">
                </a>
                <a href="https://www.github.com" target="_blank" class="px-2">
                  <img src="https://pngimg.com/uploads/github/github_PNG80.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
<div [@modalState] class="modal-backdrop" *ngIf="forgotPasswordModalVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Forgot Password</h5>
      <button type="button" class="close" (click)="closeForgotPasswordModal()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Enter your registered email address below. We'll send you a link to reset your password.</p>
        <div class="form-group">
          <label for="forgotEmail">Email address</label>
          <input type="email" class="form-control" id="forgotEmail" placeholder="Enter email" [(ngModel)]="forgotEmail">
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeForgotPasswordModal()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="sendResetLink()">Send Reset Link</button>
    </div>
  </div>
</div>


</div>