<div class="container">
  <div class="child-container child1">
    <h1 style="color: #2B2B2B">140 Downloads of High Quality Royalty Free Footage, After Effects Templates and Video Backgrounds</h1>
    <div>
      <img class="secondimage" src="../../assets/images/cin.jpg" alt="Card Image"  >  
     </div>
    <p class="content-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
      when an unknown printer took a gallery of type and scrambled it to make a type<br>
      specimen book. It has survived not only five centuries,<br>
      but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the<br>
      1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop<br>
      publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
   
      <span style="color: #000000;">Who this course is for:</span><br>
      <p class="content-text">
      Designers who want hands-on techniques for evaluating their designs with end users of mobile apps or websites (including UI/UX Designers, UX researchers, Graphics & Visual designers)<br>
      Product Managers (PMs) and founders who want to choose the right usability test for the current product lifecycle stage, and validate the designs before development.<br>
      Product Marketing Managers who want to understand user behavior for reducing drop rates or churn, increase conversion & retention rates and drive optimal product positioning.
  </p>
  
  </div>
      <div class="child-container child2">
      <img src="../../assets/images/aut.jpg" alt="Image Description" class="avatar-image">
      <div class="profile-details">
        <h4 class="profile-title">Cameron Williamson</h4>
        <h5 class="profile-followers">292K Followers</h5>
      </div>
      <p class="content-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
        when an unknown printer took a gallery of type and scrambled it to make a type<br>
        specimen book. It has survived not only five centuries,<br>
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the<br>
        1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop<br>
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <button class="follow-button">Follow</button>
      <h3 class="follow-title">Who to Follow</h3>
      <div class="follow-list">
        <div class="follow-item">
          <img src="../../assets/images/not.jpeg" alt="Profile Image" class="profile-image">
          <div class="follow-item-details">
            <span class="profile-name" style="font-weight: bold;">Esther Howard</span>
          </div>
          <p class="follow-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nisl dui. 
          </p>
          <button class="follow-button">Follow</button>

        </div>
        <div class="follow-item">
          <img src="../../assets/images/pot.jpg" alt="Profile Image" class="profile-image">
          <div class="follow-item-details">
            <span class="profile-name"  style="font-weight: bold;" >Jane Cooper </span>
          </div>

          <p class="follow-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nisl dui. 
          </p>
          <button class="follow-button">Follow</button>

        </div>
        <div class="follow-item">
          <img src="../../assets/images/not.jpeg" alt="Profile Image" class="profile-image">
          
          <div class="follow-item-details">
            <span class="profile-name"  style="font-weight: bold;">Wade Warren </span>
          </div>
          <p class="follow-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nisl dui. 
          </p>
          <button class="follow-button">Follow</button>

        </div>
      </div>
      <p class="more-suggestions">See more suggestions</p>
    </div>
  </div>
  