
<div class="row  mb-2 bg-body-tertiary rounded " >
    <div class="col-2">
        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
    </div>
    <div class="col-10" >
        <p class="font-weight-bold">Rahul Dravid</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">3 weeks ago</p>
        <p class="text-muted">I have over 5 years of experience working on design, and my new job required me to to skill up on usability testing. The instructor (Nancy) thoroughly covered all the topicsas well as the practical assignments reinforce the concepts. Highly recommend!</p>
    </div>
</div>
<hr class="hr hr-blurry" />
<div class="row  mb-2 bg-body-tertiary rounded " >
    <div class="col-2">
        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
    </div>
    <div class="col-10" >
        <p class="font-weight-bold">MS Dhoni</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">3 weeks ago</p>
        <p class="text-muted">I have over 5 years of experience working on design, and my new job required me to to skill up on usability testing. The instructor (Nancy) thoroughly covered all the topicsas well as the practical assignments reinforce the concepts. Highly recommend!</p>
    </div>
</div>
<hr class="hr hr-blurry" />
<div class="row  mb-2 bg-body-tertiary rounded " >
    <div class="col-2">
        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
    </div>
    <div class="col-10" >
        <p class="font-weight-bold">Virat Kohli</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">3 weeks ago</p>
        <p class="text-muted">I have over 5 years of experience working on design, and my new job required me to to skill up on usability testing. The instructor (Nancy) thoroughly covered all the topicsas well as the practical assignments reinforce the concepts. Highly recommend!</p>
    </div>
</div>


