<div class="div1" *ngFor="let detail of details">
    <hr>
    <p class="learn"><strong>What is a Professional Certificate?</strong></p>

    <p class="learn"><strong>{{detail.work1}}</strong> </p>

    <p class="para">{{detail.workAns1}}</p>

    <p class="learn"><strong> {{detail.work2}}</strong></p>

    <p class="para">{{detail.workAns2}}</p>

    <p class="learn"><strong>{{detail.work3}}</strong></p>

    <p class="para">{{detail.workAns3}}</p>

    <div class="parabutton"><input type="button" value="Send Request"
        style="background-color: #2B2B2B; color: white;  height: 25x; width: 120px;">
    </div>
</div>