<app-main-navbar></app-main-navbar>
<app-navbar></app-navbar>
<div class="container">
    <p class="text-muted"><a class="text-muted" routerLink="component1" style="text-decoration: none;">Courses</a>/My Courses/Usability Testing in UX Research.../User Research</p>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h5>User Experience(UX): The Ultimate Guide to Usability and UX</h5>
                </div>
                <div class="col-3" style="float:right">
                    
                </div>
                <div class="col">
                    <i class="bi bi-heart" style="float:left"></i>
                    <i class="bi bi-bookmarks" style="float:right"></i>
                </div>
            </div>
            <p class="text-muted">Created by Malt Milner</p>
            <div class="row">
                <div class="col-8"><h5 style="float:left">UX Process</h5></div>
                <div class="col-4" style="float:right"  >
                    <a href="#" class="btn btn-light border dark" >Previous Lesson</a>
                    <a href="#" class="btn btn-light border dark" >Next Lesson</a>
                </div>
            </div>
            <div class=" ratio ratio-16x9">
                <img src="./assets/img/Design-Thinking.jpg" height="70px">
            </div><br>
            <p class="text-muted">Design Thinking is a methodology which provides a solution-based approach to solving problems.It's extremely useful when used to trackle complex problems that are ill-defined or unknown-because it serves to understand the human needs involved, reframe the problem in human-centric ways, create numerous ideas  in brainstorming sessions and adopt a hands -on approach to prototyping and testing learning about the fvive stages of design thinking will empower you and allow you to apply the methodology to your work and solve complex problems that occur in our companies, our countries and across the world.</p><br>
            <p class="text-muted">Design Thinking is non-linear, iterative process that can have anywhere  from three to seven phases, depending on whom you talk to. We focus on the five-stage design thinking model proposed by the Hasso plattner Institute of Design at Stanford(the d school) because they are world-renowned for the way they teach and apply design thinking</p><br>
            <h6>The five stages of design thinking, according to the d.school,are:</h6>
            <ul class="text-muted">
                <li>Empathize:research your user's needs</li>
                <li>Define: state your users needs and problems</li>
                <li>Ideate:challenge assumptions and create ideas</li>
                <li>Prototype: start to create solutions</li>
                <li>Test: try your solutions out.</li>
            </ul><br>
            <p class="text-muted">Let's dive into each stage of the design thinking process.</p><br>
            <ol>
                <li style="font-weight: bold;">Stage 1: Empathize-Research Your User's Needs</li>
            </ol><br>
            <h2>Empathize</h2>
            <img src="./assets/img/empathize.jpg" width="200px" ><br>
            <h5>Empathize: the first phase of design thinking, where you gain real insight into users and thier needs.</h5><br>
            <p class="text-muted">The first stage of the design thinking process focusses on user-centric research. You want to gain an empathic understanding of the probelm you are trying to solve. Consult experts to find out more about the area of concern and conduct observations to engage and empathize with your users. You may also want to immerse yourself in yourself in your users physical environment to gain a deeper, personal understanding of the issues involved-as well as thier experiences and motivations. Empathy is crucial to probelm solving and a human-centerd design process as it allows design thinkers to set aside thier own assumptions about the world and gain real insight into users and thier needs.</p><br>
            <p class="text-muted">Depending on time constraints, you will gather a substantial amount of information to use during the next stage. The main aim of the Empathize stage is to edevelop the best possible understanding of your users, thier needs and the probelms that underline the development of the product or service you want to create</p><br>
            <a href="#" class="btn btn-light border dark" style="float:left" >Previous Lesson</a>
            <a href="#" class="btn btn-light border dark" style="float:right" >Next Lesson</a><br><br>
            <app-continue2navbar></app-continue2navbar>
            <!-- <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a2" href="#" style="font-size: 20px;">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a3" href="#" style="font-size: 20px;">Discussion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a4" href="#" style="font-size: 20px;">Resources</a>
                </li>
              </ul> -->
              
              <article id="ar1">
                
                <!-- <img src="./assets/img/dp.jpg" class="img" style="float:left;">
<div class="row">
    <div style="float:right">
        <p>Rahul Dravid</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">4.3 3 weeks ago</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad temporibus, consequatur repudiandae dolore ab similique, aperiam maiores a dolores earum quisquam mollitia consectetur pariatur, eos cupiditate? Corrupti earum enim cupiditate!</p>
    </div>
</div>
<hr class="hr hr-blurry"/>
<img src="./assets/img/dp.jpg" class="img" style="float:left;">
<div class="row">
    <div style="float:right">
        <p>Rahul Dravid</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">4.3 3 weeks ago</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad temporibus, consequatur repudiandae dolore ab similique, aperiam maiores a dolores earum quisquam mollitia consectetur pariatur, eos cupiditate? Corrupti earum enim cupiditate!</p>
    </div>
</div>
<hr class="hr hr-blurry"/>
<img src="./assets/img/dp.jpg" class="img" style="float:left;">
<div class="row">
    <div style="float:right">
        <p>Rahul Dravid</p>
        <p class="text-muted" style="font-weight:none;line-height: 0%;">4.3 3 weeks ago</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad temporibus, consequatur repudiandae dolore ab similique, aperiam maiores a dolores earum quisquam mollitia consectetur pariatur, eos cupiditate? Corrupti earum enim cupiditate!</p>
    </div>
</div><br>
<a href="#" class="btn btn-light border rounded" style="text-align:center">See More Review</a> -->
              </article>
        </div>
        <div class="col-3">
            <h5>About the Course</h5><br>
            <img src="./assets/img/dp.jpg" class="img" style="float:left;">
            <div class="row">
                <div style="float:right">
                    <p>Malt Milner</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">Product designer</p>
                </div>
            </div>
            <p style="font-size: 14px;text-align:left;" class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro, iste inventore eius laborum quia repudiandae labore repellat cupiditate placeat ipsam corrupti exercitationem qui nemo facilis libero, quasi aliquid nisi.</p>
            <hr class="hr hr-blurry" />
            <h4>Course Completion</h4>
            <div class="row">
                <div class="col">
                    <a id="a5" routerLink="cctableofcontents"><button id="b1" (click)="changeColor('tableofcontents')" [ngClass]="{'black-button':activeButton==='tableofcontents'}" class="btn btn-bg-light border-secondary-subtle" style="width:100%;text-align:none;font-size:15px;" >Table of Contents</button></a>
                </div>
                <div class="col">
                    <a id="a6" routerLink="notes"><button id="b1" (click)="changeColor('notes')" [ngClass]="{'black-button':activeButton==='notes'}" class="btn btn-bg-light border-secondary-subtle" style="width:100%;font-size:15px;">Notes</button></a>
                </div>
            </div><br>
            <!-- <app-cctableofcontents></app-cctableofcontents> -->
            <article id="ar2">
                <router-outlet></router-outlet>
                <!--<div class="row">
                    <div class="container">
                        <select style="width:100%;border:none;">
                            <option style="font-size:small;">Setting the Scene</option>
                        </select>
                        <p class="text-muted">12m4s</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <select style="width:100%;border:none;">
                            <option>Going where the actionis:<br>UnderstandingUser in Context</option>
                        </select>
                        <p class="text-muted">12m14s</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <select style="width:100%;border:none;">
                            <option>UX Process</option>
                        </select>
                        <p class="text-muted">Notes-5 sections</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <select style="width:100%;border:none;">
                            <option>What can a london bus teach us <br>about usability</option>
                        </select>
                        <p class="text-muted">12m14s</p>
                    </div>
                </div>
                <div class="row">
                    <button  class="btn btn-bg-subtle-secondary border-subtle-secondary" style="width:100%;background-color:lightgrey">Show more</button>
                </div>-->
            </article> 
            <br> 
            <div class="container row" style="width:100%">
                <div class="col-8" style="font-size: 15px;font-weight:bold;float:left">People who completed</div>
                <div class="col" style="font-size: 15px;"><a href="#" style="float:right;text-decoration:none;color:black;text-align:right" class="text-muted">Show all</a></div>
            </div><br>
            <div class="container">
                <div class="row shadow-sm mb-2 bg-body-tertiary rounded">
                    <div class="col-2 p-3">
                        <img src="./assets/img/dp.jpg" class="img" style="float:left;padding:0px;">
                    </div>
                    <div class="col-8 p-3" >
                        <p>Leila Jefferson</p>
                        <p class="text-muted" style="font-weight:none;line-height: 10%;">8 Points</p>
                    </div>
                    <div class="col p-3">
                        <i class="bi bi-chat"></i>
                    </div>
                </div>
                <div class="row shadow-sm mb-2 bg-body-tertiary rounded " >
                    <div class="col-2 p-3">
                        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
                    </div>
                    <div class="col-8 p-3" >
                        <p>Leila Jefferson</p>
                        <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                    </div>
                    <div class="col p-3">
                        <i class="bi bi-chat"></i>
                    </div>
                </div>
                <div class="row shadow-sm mb-2 bg-body-tertiary rounded">
                    <div class="col-2 p-3">
                        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
                    </div>
                    <div class="col-8 p-3" >
                        <p>Leila Jefferson</p>
                        <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                    </div>
                    <div class="col p-3">
                        <i class="bi bi-chat"></i>
                    </div>
                </div>
                <div class="row shadow-sm mb-2 bg-body-tertiary rounded">
                    <div class="col-2 p-3">
                        <img src="./assets/img/dp.jpg" class="img" style="float:left;">
                    </div>
                    <div class="col-8 p-3" >
                        <p>Leila Jefferson</p>
                        <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                    </div>
                    <div class="col p-3">
                        <i class="bi bi-chat"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
