<app-main-navbar></app-main-navbar>
<app-navbar></app-navbar>
<div class="container">
    <p class="text-muted">Courses/Design/User Experience Courses/Usability Testing in UX Research...</p>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h5>Usability Testing in UX Research & Design Evaluation(2022)</h5>
                </div>
                <div class="col-1" style="float:right">
                    
                </div>
                <div class="col">
                    <a [routerLink]="'component1'" class="btn btn-dark" style="float:right">Start Course Now</a>
                </div>
            </div>
            <p class="text-muted">Created by Malt Milner</p>
            <div class=" ratio ratio-16x9">
                <img class="border rounded" src="./assets/images/UIUX.png">
            </div><br>
            <app-viewcoursenavbar></app-viewcoursenavbar>
            <!-- <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a1" href="#" style="font-size: 20px;">Table of Content</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a2" href="#" style="font-size: 20px;">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a3" href="#" style="font-size: 20px;">Transcript</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" id="a4" href="#" style="font-size: 20px;">Exercise Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" id="a5" href="#" style="font-size: 20px;">Course Review</a>
                </li>
            </ul> -->
            
            <article id="ar1">
                
            </article>
        </div>
        <div class="col-3">
            <img src="./assets/images/dp.jpg" class="img" style="float:left;">
            <div class="row">
                <div style="float:right">
                    <p>Malt Milner</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">Product designer</p>
                </div>
            </div>
            <p style="font-size: 14px;text-align:left;" class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint porro, iste inventore eius laborum quia repudiandae labore repellat cupiditate placeat ipsam corrupti exercitationem qui nemo facilis libero, quasi aliquid nisi.</p>
            <h5>Course Info</h5>
            <hr class="hr hr-blurry"/>
            <div class="row">
                <div class="col-4" style="float:left">Level</div>
                <div class="col" style="float:right">Advanced</div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left">Rating</div>
                <div class="col" style="float:right"></div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left">My Rating</div>
                <div class="col" style="float:right;height:2px;"></div>
            </div>
            
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left">Duration</div>
                <div class="col" style="float:right">3h 12m</div>
            </div>
            
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-4" style="float:left">Updated</div>
                <div class="col" style="float:right">12 Aug 2018</div>
            </div>
            <hr class="hr hr-blurry" /><br>
            <h5> Share Course</h5>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-3">
                    <i class="bi bi-facebook" style="font-size:30px;color:grey"></i>
                </div>
                <div class="col-3">
                    <i class="bi bi-twitter" style="font-size:30px;color:grey"></i>
                </div>
                <div class="col-3">
                    <i class="bi bi-linkedin" style="font-size:30px;color:grey"></i>
                </div>
            </div><br>
            <div class="row" style="width:100%">
                <div class="col-8" style="font-size: 15px;font-weight:bold;float:left">People who completed</div>
                <div class="col" style="font-size: 15px;"><a href="#" style="float:right;text-decoration:none;color:black;text-align:right" class="text-muted">Show all</a></div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row  mb-2 bg-body-tertiary rounded " >
                <div class="col-2">
                    <img src="./assets/images/dp.jpg" class="img" style="float:left;">
                </div>
                <div class="col-8" >
                    <p>Leila Jefferson</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                </div>
                <div class="col">
                    <i class="bi bi-chat"></i>
                </div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row  mb-2 bg-body-tertiary rounded" style="margin:0 rem " >
                <div class="col-2">
                    <img src="./assets/images/dp.jpg" class="img" style="float:left;">
                </div>
                <div class="col-8" >
                    <p>Senthil Kumar</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                </div>
                <div class="col">
                    <i class="bi bi-chat"></i>
                </div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row  mb-2 bg-body-tertiary rounded " >
                <div class="col-2">
                    <img src="./assets/images/dp.jpg" class="img" style="float:left;">
                </div>
                <div class="col-8" >
                    <p>Madhu Mohan</p>
                    <p class="text-muted" style="font-weight:none;line-height: 0%;">8 Points</p>
                </div>
                <div class="col">
                    <i class="bi bi-chat"></i>
                </div>
            </div>
        </div>
    </div>
    <h4>Recommended For You</h4><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="./assets/images/pixel.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Pixel Art Master Course-Beginner to Professional/Freelance</p>
                <a href="#" class="btn btn-dark">View Course</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="./assets/images/adobe.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Adobe Premiere Pro CC:Video Editing in Adobe Premiere Pro</p>
                <a href="#" class="btn btn-dark">View Course</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card " style="width: 18rem;">
              <img src="./assets/images/market.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Master Digital Product Design:UX Research &UI Design</p>
                <a href="#" class="btn btn-dark">View Course</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="./assets/images/manga art.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Manga Art School:Complete How to Draw Anime & Mangs Course</p>
                <a href="#" class="btn btn-dark">View Course</a>
              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>
