<app-main-navbar></app-main-navbar>
<app-navbar></app-navbar>
<body>
    <div id="max">
        <div id="integrated-components">
            <app-blog></app-blog>
    
            <div class="container " class="whole" >
                <div class="outer-flex-container" id="one">
                    <div class="inner-flex-container">
                        <app-card></app-card>
                    </div>
                </div>
    
                <div class="outer-flex-container p-3 " id="two" >
                    <div class="inner-flex-container">
                        <app-trending-blog></app-trending-blog>
                        <app-recommended></app-recommended>
                        <app-whotofollow></app-whotofollow>
                    </div>
                </div>
            </div>
            <app-secondcard></app-secondcard>
      
        </div>
    </div>
    <app-footer></app-footer>
    
    
    
    
    
 
    
    
    
    
    
     
</body>
   